BODY,TD {
   font-size : 12px; 
   font-family : Arial, sans-serif; 
   color : #3D5066;
   background-color:: #ffffff; 
}
.h3 {
	font-size : 15px; 
   	font-family : Arial, sans-serif; 
   	color : #005CB1; 
}
A			{
	color: #005CB1;
	text-decoration: underline;
}
A:visited	{
	color: #005CB1;
	text-decoration: underline;
}
A:active		{
	color: #FFA000;
	text-decoration: underline;
}
A:hover		{
	color: #FF6E00;
	text-decoration: underline;
}
A.normal {
   	color : #005CB1; 
   	text-decoration: underline; 
}
A.menulink {
   	font-size : 11px;
   	font-family : Verdana, Arial, sans-serif;  
   	text-decoration : none;
   	color: #005CB1; 
}
A.menulink:visited {
   	color: #005CB1;
	text-decoration: none; 
}
A.menulink:active {
   	color: #FFA000;
	text-decoration: none; 
}
A.menulink:hover {
   	color: #FF6E00;
	text-decoration: none; 
}
A.menulink2 {
   	font-size : 10px;
   	font-family : Verdana, Arial, sans-serif; 
   	text-decoration : none;
   	color: #005CB1; 
}
A.menulink2:visited {
   	color: #005CB1;
	text-decoration: none; 
}
A.menulink2:active {
   	color: #FFA000;
	text-decoration: none; 
}
A.menulink2:hover {
   	color: #FF6E00;
	text-decoration: none; 
}
.title {
   width : 137px;
   left : 15px; 
   position : absolute;
   z-index: 10; 
}
.menupic{
   width : 171px;  
   left : 0px; 
   position : absolute;
   z-index: 10;
}
.submenu {
   font-size : 11px; 
   width : 150px; 
   left : 20px; 
   position : absolute; 
   visibility : hidden;
}
.bg_body	{ 
	background-image: url("../images/butterfly.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top right;
	background-color: #ffffff;
}
